.well
  %header
    %h2 Hangout Queue

.well
  %header
    %h3
      Active Question
    - if @active_question
      %strong(style="margin-left: 80px;")
        = "User: #{@active_question.user.username}"
      %br
      %strong(style="margin-left: 80px;")
        One-Liner:
      %span(style="margin-right: 80px; margin-left: 40px;")
        %em= @active_question.title
      .well(style="margin-top: 40px; margin-left: 80px; margin-right: 120px;")
        = @active_question.body
      - if admin_logged_in?
        = icon_action_link_large("eject", "Unclaim", unclaim_question_path(@active_question))
        %br
        %br
        = icon_delete_action_link_large("check", "Complete", question_path(@active_question))
        %br

    - else
      %strong(style="margin-left: 80px;")
        No question has been claimed yet.

.well
  %table.well.table.table-condensed
    %tr
      %th(width="5%") Position
      %th(width="20%") User
      %th(width="40%") One-Liner
      %th(width="20%") When Submitted
      %th(width="15%" style="text-align: right; padding-right: 15px;") Action
    - @unclaimed_questions.each_with_index do |question, index|
      = render "question_entry", { question: question, index: index }
