%ul.nav(style="margin-top: 10px;")
  %li
    .btn-group.nav_item
      = link_to "View Queue", "#", class: "btn btn-primary btn-small", style: "padding-bottom: 6px;"
  %li
    .btn-group.nav_item
      = link_to "Enter Question", "#", class: "btn btn-success btn-small", style: "padding-bottom: 6px;"
  %li
    .btn-group.nav_item
      = link_to "View Participants", "#", class: "btn btn-primary btn-small", style: "padding-bottom: 6px;"

  %li
    .btn-group.nav_item
      = link_to "#", class: "btn btn-primary btn-small dropdown-toggle", "data-toggle" => "dropdown", style: "padding-bottom: 6px;" do
        = ("&nbsp;" + "Alice Doe" + "&nbsp;&nbsp;").html_safe
        %span(class="caret")

      %ul.dropdown-menu
        %li
          = link_to "Sign Out"

%hr

