%ul.nav(style="margin-top: 10px;")
  %li
    .btn-group.nav_item
      = link_to "View Queue", questions_path, class: "btn btn-primary btn-small", style: "padding-bottom: 6px;"
  %li
    .btn-group.nav_item
      = link_to "Enter Question", new_question_path, class: "btn btn-success btn-small", style: "padding-bottom: 6px;"
  %li
    .btn-group.nav_item
      = link_to "View Participants", users_path, class: "btn btn-primary btn-small", style: "padding-bottom: 6px;"

  %li
    .btn-group.nav_item
      - if logged_in? || admin_logged_in?
        = link_to "#", class: "btn btn-primary btn-small dropdown-toggle", "data-toggle" => "dropdown", style: "padding-bottom: 6px;" do
          - if logged_in?
            = ("&nbsp;" + current_user_get.username + "&nbsp;&nbsp;").html_safe
          - else
            = ("&nbsp;" + current_admin_user_get.username + "&nbsp;&nbsp;").html_safe
          %span(class="caret")

        %ul.dropdown-menu
          %li
            - if logged_in?
              = link_to "Sign Out", signout_path
            - else
              = link_to "Sign Out", admin_signout_path
      - else
        = link_to "Sign In", signin_path, class: "btn btn-primary btn-small", style: "padding-bottom: 6px;"

%hr
